{% extends 'base.html.twig' %}

{% block title %}A propos de moi ! {% endblock %}

{% block body %}
<body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 text-center">

				
				<h1 class="display-2 text-black">
					<u>El Ayadi Yassir</u>
				</h1>

				
				<p class="lead text-white-75 mb-6">
					1ère année BUT RT
				</p>

				<!-- Button -->
				<a href="/portfolio" class="btn btn-primary lift">
					Découvrir mon portfolio
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->

		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
    <!-- ARTICLES -->
<section class="pb-8 pt-7 pb-md-11 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Heading -->
				<h2 class="mb-0">
					Informations Personnelles :
				</h2>

				<!-- Text -->
				<p class="mb-5 text-muted">
					Je m'appelle Yassir El Ayadi , j'ai 19 ans, je suis originaire du Maroc ,  et je suis en 1ère année de BUT R&T, à l'IUT de Roanne.

				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					La Formation BUT R&T :
				</h2>
<p> Le BUT RT forme en trois ans des cadres intermédiaires capables de mettre en œuvre,
	 configurer et maintenir des équipements et systèmes d’information, 
	 tout en assurant leur sécurité physique et logicielle.
	 La formation peut accueillir des profils variés, quels que soient les enseignements de spécialité et les enseignements optionnels choisis au lycée général et technologique.
	 Elle peut accueillir des étudiants du supérieur souhaitant se réorienter.
	</p>

	<div class="container">
		<div class="row justify-content-center">
		<h2 class="mb-0">
			Objectifs :
		</h2>

		<p>
			Former des techniciens supérieurs capables de définir, installer, gérer, maintenir, voire commercialiser des systèmes de télécommunications et des réseaux informatiques de touts types.<br>

    			- Administrer les réseaux 
    			- Connecter les entreprises et les usagers
    			- Créer des outils et applications informatiques pour les RT.

		</p>
<!-- Heading -->
				<h2 class="mb-0">
					
				</h2>

				<!-- Text -->
				<p class="mb-5 text-muted">
					
				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					
				</h2>

			</div>
		</div>
		<div class="container">
		<div class="row justify-content-center">
		<div class="col-lg-4">
			
			<a href="/passion" class="btn btn-primary lift">
				En Savoir Plus
				<i class="fe fe-arrow-right ms-3"></i>
			</a>
			<a href="/en" class="btn btn-primary lift">
				Translate This Page
				<i class="fe fe-arrow-right ms-3"></i>
			</a>
		
						<a class="card-meta" href="/actualites/lancement-du-site-internet">

						
							<hr class="card-meta-divider">

						</a>

					</div>

				</div>
					</div>
	
        
	</div>
>
</section>
       
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
	</div>
</div>

</body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}