{% extends 'base.html.twig' %}

{% block title %}About Me ! {% endblock %}

{% block body %}
<body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 text-center">

				
				<h1 class="display-2 text-black">
					<u>El Ayadi Yassir</u>
				</h1>

				
				<p class="lead text-white-75 mb-6">
					First year of the Bachelor's Degree in Network and Telecommunications (BUT RT). 
				</p>

				<!-- Button -->
				<a href="/portfolio" class="btn btn-primary lift">
					Discover my portfolio.
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->

		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
    <!-- ARTICLES -->
<section class="pb-8 pt-7 pb-md-11 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Heading -->
				<h2 class="mb-0">
					Personal Information:
				</h2>

				<!-- Text -->
					<p class="mb-5 text-muted">
					My name is Yassir El Ayadi, I am 19 years old, I am originally from Morocco, and I am in my first year of the Bachelor's Degree in Network and Telecommunications (BUT R&T) at the IUT of Roanne.

				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					Bachelor's Degree in Network and Telecommunications :
				</h2>
<p> The Bachelor's Degree in Network and Telecommunications aims to train intermediate-level professionals over a three-year period who are capable of implementing, configuring, and maintaining information systems and equipment while ensuring their physical and software security.

    The program welcomes students with diverse profiles, regardless of the specialized courses and optional subjects chosen during their general and technological high school studies. It is also open to higher education students wishing to change their career path.
	</p>

	<div class="container">
		<div class="row justify-content-center">
		<h2 class="mb-0">
			Objectives :
		</h2>

		<p>
            To train higher-level technicians capable of defining, installing, managing, maintaining, and even marketing various types of telecommunications systems and computer networks.<br>

            - Network administration<br>
            - Connecting businesses and users<br>
            - Creating tools and software applications for IT.<br>

		</p>
<!-- Heading -->
				<h2 class="mb-0">
					
				</h2>

				<!-- Text -->
				<p class="mb-5 text-muted">
					
				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					
				</h2>

			</div>
		</div>
		<div class="container">
		<div class="row justify-content-center">
		<div class="col-lg-4">
			
			<a href="/en2" class="btn btn-primary lift">
				More About Me
				<i class="fe fe-arrow-right ms-3"></i>
			</a>
			<a href="/sae" class="btn btn-primary lift">
				Translate This Page
				<i class="fe fe-arrow-right ms-3"></i>
			</a>
		
						<a class="card-meta" href="/actualites/lancement-du-site-internet">

						
							<hr class="card-meta-divider">

						</a>

					</div>

				</div>
					</div>
	
        
	</div>
>
</section>
       
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
	</div>
</div>

</body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}