{% extends 'base.html.twig' %}

{% block title %}A propos de moi ! {% endblock %}

{% block body %}
<body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
            
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 text-center">

				
				<h1 class="display-2 text-black">
					<u>En Savoir Plus</u>
				</h1>
			
				


				
				<a href="/sae" class="btn btn-primary lift">
					Revenir a la page d'acceuil
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>
		
	</div>

	</div>

</section>
   
<section class="pb-8 pt-7 pb-md-11 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-12">

                <h2 class="mb-0">
					Passions :
				</h2>
<p> <strong>
    Football : <br>
</strong>
Le football, ma passion ! Je suis un fan inconditionnel du Real Madrid et je soutiens également l'équipe nationale marocaine. Grâce à mon père,
j'ai découvert cette passion dès mon jeune âge et depuis, elle ne cesse de grandir.<br>
Le football est bien plus qu'un simple sport pour moi, c'est une source d'émotions intenses, de camaraderie et de joie pure.<br>
<hr>
<strong>MMA :</strong><br>
Le MMA, ma passion ! Je suis un fan inconditionnel du combattant Khabib Nurmagomedov et je soutiens son talent exceptionnel sur le ring. J'ai découvert le MMA par moi-même en naviguant sur X, et depuis ce moment, je suis fasciné par l'intensité et la technique de ce sport. Le MMA représente pour moi un défi constant, un mélange d'habileté, de courage et de discipline.<br>
Je suis inspiré par les combattants qui repoussent leurs limites et se surpassent dans chaque combat.<br>
<hr>
<strong>Streaming :</strong><br>
Depuis plus de 2 ans j'ai developpé une enorme passion pour le streaming sur Twitch.<br>
Dans ce domaine , j'ai recontré des personnes formidables qui font partie de mon quotidien et j'arrive a subvenir a mes besoins tout seul.<br>
	</p>
	


	
</section>
        
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
	</div>
</div>

</body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}